*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --gray: #DEDEE8;
    --purple: #231D38;
}
img{
    pointer-events: none;
}

#section_right{
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: var(--purple);
}

#section_right div:nth-of-type(1){
    margin-bottom: 20px;
    padding-left: 30px;
}
#section_right div:nth-of-type(2){
    height: 100%;
    position: relative;
}
#section_right nav a{
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-decoration: none;
}
#section_right nav a i{
    flex: 30%;
    padding-left: 20px;
}
#section_right nav a p{
    flex: 70%;
}
#section_right nav a:nth-of-type(1){
    background-color: var(--purple);
    color: white;
}
#section_right nav a:hover{
    background-color: var(--purple);
    color: white;
}

#logout{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 0 !important;
    margin: 0 !important;
}

#logout a{
    display: flex;
    text-decoration: none;
    color: var(--purple);
    padding: 10px;
}
#logout a i{
    flex: 30%;
    padding-left: 20px;
}
#logout a p{
    flex: 70%;
}
    

#content{
    background-color: var(--gray);
    width: 80%;
    margin-left: 20%;
    padding: 20px;
    display: flex;
}
main{
    width: 80%;
}
main #search{
    width: 50%;
    padding: .5rem 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
main #search input{
    border: none;
    outline: none;
}
main #img{
    position: relative;
    margin-bottom: 10px;
}
main #img img{
    width: 100%;
    border-radius: 20px;
    height: 200px;
}
main #img h1{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50px;
    left: 25px;
    font-weight: 300;
}
main h2{
    margin-bottom: 15px;
}
main #content_card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px; 
}
main #content_card .cards_news{
    height: 250px;
    border-radius: 15px;
    word-wrap: break-word;
}
main #content_card .cards_news .news_img{
    height: 50%;
    position: relative;
}
main #content_card .cards_news .news_img::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: 0;
    border-radius: 10px 10px 0 0;
    background-color: rgb(255, 255, 255);
}
main #content_card .cards_news .news_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 13px 13px 0 0;
}
main #content_card .cards_news .news_content{
    height: 50%;
    background-color: white;
    border-radius: 0 0 15px 15px;
    padding: 5px;
}
main #content_card .cards_news .news_content h2{
    font-size: 14px;
    margin-bottom: 5px;
}
main #content_card .cards_news .news_content h3{
    font-size: 16px;
    margin-bottom: 5px;
}
main #content_card .cards_news .news_content p{
    font-size: 12px;
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;  
    -webkit-box-orient: vertical;
    line-height: 1.5;
}
article{
    position: fixed;
    background-color: white;
    right: 10px;
    width: 15%;
    height: 95%;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
article div:nth-of-type(1){
    text-align: center;
}
article div:nth-of-type(1) p:nth-of-type(1){
    font-weight: bold;
    font-weight: 550;
    margin-bottom: 5px;
}
article div:nth-of-type(1) p:nth-of-type(2){
    margin-bottom: 8px;
}
article #photo_newspaper{
    width: 80%;
}
article div:nth-of-type(2){
    width: 100%;
    text-align: start;
}
article div:nth-of-type(3){
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
}
article .card_authors{
    flex: 50%;
    display: flex;
    align-items: end;
}
article .card_authors img{
    width: 100%;
    border-radius: 15px;
}