*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --gray: #DEDEE8;
    --purple: #231D38;
}
body{
    background-color: black;
    padding: 10px;
}
#content{
    width: 100%;
    background-color: var(--gray);
    height: 100px;
}
#section_right{
    width: 20%;
    background-color: white;
    height: 90vh;
    position: fixed;
}